html, body{
  height:100vh;
  min-height: 100vh;
  width: 100%;
  margin:0;
  padding:0;
  font-family: 'Mulish', sans-serif;
  background-color:#B4DCC1;
  letter-spacing: -1px;
}

#root, .App{
  min-height:100vh;
  overflow:hidden;
}

.wholepage{
  min-height:100%;
  text-align: center;
}


.covidfigure{
  width:800px;
  height:800px;
  opacity:0.6;
  position:absolute;
  left:100px;
  top:0;
  transform:scale(1,1);
  animation:clockwise 20s linear infinite;
  
}

/**the div containing the covid**/
.figure{
  width:100%;
}

.figure:hover{
  transform: scale(1.1,1.1);
  transition: all 1s;
}

.covidfigure:after{
  content:"This is a virus";
  color:#f2aeb4;
  font-size: 1.5rem;
  position:absolute;
  margin-left: auto;
  margin-right: auto;
  left:0;
  right:0;
  top:390px;
}



@keyframes clockwise{
  from{
    transform: rotateZ(0)  ;

  }
  to{
    transform: rotateZ(359deg) ;

  }
}

/**Config for the dashboard**/
/**Whole column**/
.contentcolumn{
  position:absolute;
  right:0;
  padding:2%;
  height:100%;
  width: 100%;
}

/**For the title**/
.title{
  margin:1rem auto;
  font-weight: bold;
  color:#FFFFFF;
  font-size: 4rem;
}


/**Make contents takes full height**/

/**Styles for all contents**/
.content{
  background:linear-gradient(to bottom, #59BE94, #9CD9B1 );
  opacity:0.9;
  padding:20px 3% 5px 3%;
  min-height: 100%;
  height: auto;
  width: 100%;
}

/**For the searchbar and stat content**/
.datacontent{
  margin:0 auto;
  font-weight:normal;
  letter-spacing: 0px;
  width:100%;
  height: 100%;
}

/**For the search bar**/
.searchbarconfig{
  width: 100%;
  margin:0 3%;
}

/**All display tabs**/
.content-panels{
  height: 100%;
}

.displaytab-wrapper{
  padding:2% 3%;
}

/**Each display tab content**/
.displaytab{
  background-color:#B4DCC1;
  color:#F27A5E;
  padding:10% 3%;
  font-size: 1.2rem;
  font-weight: lighter;
  transition:all 0.5s;
  height: 13rem;
}

.displaytab h1{
  font-size:2.4rem;
  font-weight: normal;
  flex:1;
}

.displaytab h2{
  font-size: 1rem;
  font-weight: normal;
  flex:1;
}
.displaytab > .displaytitle{
  position:absolute;
  color:#085159;
  bottom:1rem;
  left:0;
  right:0;
  font-weight: bolder;
}

/**animations**/
.fade-appear{
  opacity:0;
}

.fade-appear.fade-appear-active{
  opacity:1;
  transition: opacity 1000ms linear;
}

.fade-enter{
  opacity:0;
  position:absolute;
  z-index: 1;
  left:0;
  right:0;
}

.fade-enter.fade-enter-active{
  opacity:1;
  transition: opacity 500ms linear ;
}
.fade-exit{
  opacity:1
}

.fade-exit.fade-exit-active{
  opacity:0;
  transition: opacity 500ms linear;
}

